/* Utility Classes */
.center-text {
  text-align: center;
}

/* Main */
.header {
}

.banner-img {
  width: 100%;
  height: 400px;
  padding-bottom: 0%;
}

table,
th,
td {
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
  padding: 5px;
}

body {
  margin: auto;
}

.main-table {
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.trades-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.trades-tab button {
  background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* NavBar */
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-top: 0%S;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a:hover {
  background-color: #111;
}

.tabs-links {
  text-transform: capitalize;
}

.trades-tab button:hover {
  background-color: #ddd;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
